@model Bier
@{
    ViewData["Title"] = "Toevoegen";
}

<h2>Bier toevoegen</h2>
<form asp-action="Toevoegen" method="post">
    <label asp-for="Naam"></label>
    <input asp-for="Naam" />
    <label asp-for="Alcohol"></label>
    <input asp-for="Alcohol" />
    <label asp-for="Prijs"></label>
    <input asp-for="Prijs" />
    <input type="submit" value="Toevoegen" class="btn btn-primary"/>
    <div asp-validation-summary="All"></div>
</form>
