html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(7, 0, 0, 0.92);
  color: white;
}

.groen {
    color: green;
}

.geel {
    color: yellow;
}

.oranje {
    color: orange;
}

.rood {
    color: red;
}